cyber-ui {
    display: block;
    position: absolute;
    background-color: transparent;
    border: 2px solid var(--blue-vibrant);
    transform: translate(-50%, -50%);
    min-width: 250px;
    transition: all 2000 linear;
}

cyber-ui {
    --cut: 24px;

    clip-path: polygon(
        0 0,
        calc(100% - var(--cut)) 0,
        100% var(--cut),
        100% 100%,
        0 100%
    );
}

.cyber-ui__title {
    padding: 6px;
    background-color: var(--blue-vibrant);
    border-bottom: 2px solid var(--blue-vibrant);
    color: var(--black);
}

.cyber-ui__body {
    padding: 24px;
    color: var(--blue-vibrant);

    & p {
        color: var(--blue-vibrant);
        text-wrap: nowrap;
    }
}

.cyber-ui--reflection {
    opacity: 0.1;
}
